* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Light";
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Gilroy-Light";
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://plus.unsplash.com/premium_photo-1661962940086-10314d148399?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    transform: rotateY(180deg) ;


}