* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Light";
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Gilroy-Light";
}

.container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1738165170747-ecc6e3a4d97c?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    overflow: hidden;
}

.nav {
    width: 100%;
    z-index: 99999;
    top: 6%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.nav .logo1 {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo1 h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.logo1 h5 {
    font-size: 11px;
    font-weight: 300;
}

.nav .logo2 {
    display: flex;
    margin-right: 28px;
    gap: 23px;
    /* background-color: aqua; */
}

.nav .logo2 a {
    text-decoration: none;
    color: white;
    font-size: 12.5px;
    font-weight: 800;
    letter-spacing: 0.65px;
}

.nav .logo2 a:nth-child(1) {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}

.left {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    position: relative;
}

.left .label {
    position: absolute;
    /* background-color: red; */
    top: 50%;
    /* left: 45px; */
    transform: translate(0%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 40px;
}

.left .label .para {
    display: flex;
    gap: 20px;
    opacity: 0.6;
    margin-left: 45px;
    /* background-color: red; */
}


.left .label .para .content h3 {
    white-space: nowrap;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.9px;
    border-bottom: 1.35px solid white;
    margin-bottom: 4px;
}

.left .label .para .content p {
    white-space: nowrap;
    font-weight: 100;
    font-size: 12px;
    /* color: */
}

.left .label .para:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.169);
    margin-left: 0%;
    text-align: center;
    padding: 12px 45px;
    opacity: 1;
}

.left .label .para:nth-child(3) h3 {
    font-size: 37px;
}

.left .label .para:nth-child(3) .line {
    padding-top: 5px;
    font-size: 26px;
}

.left .label .para:nth-child(3) .content p {
    font-size: 13.2px;
    opacity: 0.9;
}

.left .scroll {
    position: absolute;
    bottom: 3%;
    color: rgba(255, 255, 255, 0.418);
    display: flex;
    align-items: center;
    /* background-color: red; */
    transform: rotate(-90deg);
    left: 20%;
}

.left .scroll .line {
    width: 100px;
    height: 1.2px;
    background-color: rgba(255, 255, 255, 0.322);
}

.left .scroll p {
    font-size: 15px;

}

.right {
    width: 75%;
    height: 100%;
    position: relative;
}

.right .center {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: flex-end;
    justify-content: center;
    gap: 2px;
    top: 50%;
    transform: translate(0, -50%);
    right: 4%;
    color: #fff;
}

.center h1 {
    font-size: 120px;
    font-weight: 300;
    letter-spacing: .9px;
}

.center h3 {
    font-size: 22px;
    font-weight: 300;
}

.center .input {
    margin-top: 15px;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.center .input input {
    border: none;
    width: 280px;
    background-color: transparent;
    padding: 8px 20px;
    border: none;
    outline: none;
    color: white;
}

.center .input input::placeholder {

    color: white;
    font-size: 16px;
    opacity: 0.9;
}

.center .input i {
    position: absolute;
    left: 0%
}

.center .line {
    /* border-bottom: 2px solid white; */
    width: 100%;
    height: 2px;
    background-color: white;
}

.copy {
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;
    font-size: 14px;
    opacity: 0.6;
}